## Arbitrary Value Imputation

Arbitrary value imputation is a method for handling missing data where you replace the missing values with some specific, predetermined value. This approach can be useful in situations where the missing data does not hold any specific meaning or pattern, and you want a simple way to fill in the gaps.

In [5]:
import pandas as pd
df = pd.read_csv('D:\\Feature Engineering\\Datasets\\Titanic Datasets\\train.csv',usecols = ['Age','Fare','Survived'])

In [6]:
import pandas as pd

# Load your DataFrame, assuming 'df' is your DataFrame
# Replace missing values in the 'Age' column with an arbitrary value (e.g., -1)
arbitrary_value = -1
df['Age'].fillna(arbitrary_value, inplace=True)

In [7]:
df.head(10)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500
5         0  -1.0   8.4583
6         0  54.0  51.8625
7         0   2.0  21.0750
8         1  27.0  11.1333
9         1  14.0  30.0708

### Advantages

    1.Simple to Implement
    2.Preserves Data Structure
    3.Useful for Categorical Data
    4.Applicable in Certain Contexts

### Disadvantages

    1.Introduction of Bias
    2.Loss of Information
    3.Inappropriate for Numeric Data
    4.May Not Reflect Reality
    5.Not Suitable for Machine Learning