### TARGET GUIDED ORDINAL ENCODING

1.Easy to use<br>
2.Replace the values by the joint probability of being 1 or 0

In [1]:
import pandas as pd
df = pd.read_csv('D:\\Feature Engineering\\Datasets\\Titanic Datasets\\train.csv',usecols=['Survived','Cabin'])

In [2]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [3]:
df.isnull().sum()

Survived      0
Cabin       687
dtype: int64

In [4]:
# Cabin have so much of null value
# To capture the null values

df['Cabin'].fillna('Missing',inplace=True)

In [6]:
df.head(10)

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing
5         0  Missing
6         0      E46
7         0  Missing
8         1  Missing
9         1  Missing

In [8]:
# Cabin feature have different types of Cabin Section
# We need to get the particular section then we need to convert dataframe into string
df['Cabin'].astype(str)

0      Missing
1          C85
2      Missing
3         C123
4      Missing
        ...
886    Missing
887        B42
888    Missing
889       C148
890    Missing
Name: Cabin, Length: 891, dtype: object

In [14]:
# Fetch the first letter of the string
df['Cabin'] = df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [15]:
# Check the Unique Category
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [23]:
# Perform Target Ordinal encoding between the targets of survived and cabin
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [26]:
df.groupby(['Cabin'])['Survived'].mean().sort_values(ascending=True)

Cabin
T    0.000000
M    0.299854
A    0.466667
G    0.500000
C    0.593220
F    0.615385
B    0.744681
E    0.750000
D    0.757576
Name: Survived, dtype: float64

In [29]:
# After sorting, Get the index and assign the rank or order
Ordinal_labels = df.groupby(['Cabin'])['Survived'].mean().sort_values(ascending=True).index

In [32]:
# Finally Create the dictionary to map the elements
# Using Dictionary Comprehension

dictionary = {key:value for value,key in enumerate(Ordinal_labels,0)}
dictionary

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [33]:
# Dictionary Mapping
df['Cabin_Encoding'] = df['Cabin'].map(dictionary)

In [34]:
df.head()

   Survived Cabin  Cabin_Encoding
0         0     M               1
1         1     C               4
2         1     M               1
3         1     C               4
4         0     M               1

### MEAN ENCODING

In [35]:
import pandas as pd
df = pd.read_csv('D:\\Feature Engineering\\Datasets\\Titanic Datasets\\train.csv',usecols=['Survived','Cabin'])

In [38]:
df['Cabin'].fillna('Missing',inplace=True)

# Fetch the first letter of the string
df['Cabin'] = df['Cabin'].astype(str).str[0]
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [39]:
# Check the Unique Category
df['Cabin'].unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [40]:
# Perform Mean encoding between the targets of survived and cabin
df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [46]:
# Does not need to sort_value because it is not ordinal,If use also no problem
df.groupby(['Cabin'])['Survived'].mean().sort_values(ascending=True).to_dict()

{'T': 0.0,
 'M': 0.29985443959243085,
 'A': 0.4666666666666667,
 'G': 0.5,
 'C': 0.5932203389830508,
 'F': 0.6153846153846154,
 'B': 0.7446808510638298,
 'E': 0.75,
 'D': 0.7575757575757576}

In [48]:
# Map the dictionary
mean_encoding_dict = df.groupby(['Cabin'])['Survived'].mean().sort_values(ascending=True).to_dict()
df['Cabin_Encoding'] = df['Cabin'].map(mean_encoding_dict)

In [49]:
df.head()

   Survived Cabin  Cabin_Encoding
0         0     M        0.299854
1         1     C        0.593220
2         1     M        0.299854
3         1     C        0.593220
4         0     M        0.299854

NOTE, The main disadvantage of mean encoding is leads to prone overfitting in machine learning model