### PROBABILITY RATIO ENCODING

1. probability of survived based on cabin  -- Categorical Feature
2. Probability of Not Survived --- 1-prob(Survived)
3. Apply formula for probability ratio = prob(Survived)/prob(Not Survived)
4. Dictionary to map the cabin
5. Replace with categorical feature

In [56]:
import pandas as pd
df = pd.read_csv('D:\\Feature Engineering\\Datasets\\Titanic Datasets\\train.csv',usecols=['Survived','Cabin'])

In [57]:
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [58]:
df['Cabin'].fillna('Missing',inplace=True)

In [59]:
df.head()

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing

In [60]:
df['Cabin'] = df['Cabin'].astype(str).str[0]

In [61]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [62]:
df.Cabin.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [63]:
# Based on Cabin and Survived feature, how much survived percentage with respct to Cabin

df.groupby(['Cabin'])['Survived'].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [64]:
# Create dataframe

data = df.groupby(['Cabin'])['Survived'].mean()

prob_df = pd.DataFrame(data)

prob_df

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [71]:
# To perform the probability ratio encoding before that split the survived column into survive and died

prob_df['Died'] = 1 - prob_df['Survived'] # Rest of the probability
prob_df

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000
F      0.615385  0.384615
G      0.500000  0.500000
M      0.299854  0.700146
T      0.000000  1.000000

In [74]:
# Apply Probability ratio encoding
prob_df['Probability Ratio'] = prob_df['Survived']/prob_df['Died']
prob_df['Probability Ratio']

Cabin
A    0.875000
B    2.916667
C    1.458333
D    3.125000
E    3.000000
F    1.600000
G    1.000000
M    0.428274
T    0.000000
Name: Probability Ratio, dtype: float64

In [78]:
prob_df

       Survived      Died  Probability Ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000
F      0.615385  0.384615           1.600000
G      0.500000  0.500000           1.000000
M      0.299854  0.700146           0.428274
T      0.000000  1.000000           0.000000

In [79]:
# To convert dictionary for mapping
prob_df_dict = prob_df['Probability Ratio'].to_dict()

In [80]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [83]:
df['Cabin'] = df['Cabin'].map(prob_df_dict)

In [84]:
df.head()

   Survived     Cabin
0         0  0.428274
1         1  1.458333
2         1  0.428274
3         1  1.458333
4         0  0.428274

This is happens while performing probability ratio encoding